# Ensure that changes to the terraform directory are reviewed by the infrastructure team
*.tf @EnergyRoute-Japan/Cranes
*.hcl @EnergyRoute-Japan/Cranes

# Ensure that changes to workflows or the codeowners file are reviewed by the Admins
.gitignore @EnergyRoute-Japan/Admins
CODEOWNERS @EnergyRoute-Japan/Admins
LICENSE @EnergyRoute-Japan/Admins
.pre-commit-config.yaml @EnergyRoute-Japan/Admins
